@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@plugin 'flowbite/plugin';
@layer base {
    [data-theme="dark"] {
        --color-backdrop: #050C1D;
        --color-accent: #77B602;
        --color-alert: #FF6F61;
        --color-third-lively: #F4A261;
        --color-third-calm: #B4D2FF;
        --color-text: #FFFFFF;
    }
    [data-theme="light"] {
        --color-backdrop:rgb(255, 255, 255);
        --color-accent: #77B602;
        --color-alert: #FF6F61;
        --color-third-lively: #F4A261;
        --color-third-calm: #B4D2FF;
        --color-text:rgb(0, 0, 0);
    }
    html {
      width: 100%;
        min-width: 100%;
        background-color: #050C1D;
            background-image: url("$lib/images/starbackground.jpg");
         
                justify-content: center;
                justify-items: center;
               
}

        h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--color-text);
        font-weight: bold;
        font-family: "Sour Gummy", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-variation-settings: "width" 100;
    }
    h1 {
        font-size: var(--text-6xl);
        text-align: center;
    }
    h2 {
        font-size: var(--text-5xl);
        margin: 1%;
    }
    h3 {
        font-size: var(--text-4xl);
    }
    h4 {
        font-size: var(--text-3xl);
    }
    h5 {
        font-size: var(--text-2xl);
    } 
    h5 {
        font-size: var(--text-xl);
    }
   
   
    p,
    ul,
    li,
    span {
        color: var(--color-text);
        font-family: "Sour Gummy", sans-serif;
        font-weight: 400;
        font-style: normal; 
        margin: 1%;
    }
    p,
    ul {
        font-size: var(--text-xl);
        list-style-position: inside;
    }
    li {
        list-style-type: disc;
    }
    button, .button {
        border-radius: 12px;
        padding: 14px 40px;
        font-weight: 700;
        block-size:100%;
        font-size:100%;
        background-color:#77B602;
        margin: 1%;
        color: var(--color-text)
    }
    button:hover, .button:hover {
        background-color: var(--color-third-calm);
        color: #050C1D;
    }
    a, .a {
        color: var(--color-third-calm)
    }
     a:hover, .a:hover {
        color: var(--color-third-lively);
    }
    .nav {
        background-color: var(--color-accent);
        color: var(--color-backdrop);
        min-width: full;
        position:fixed;
        top: 0;
    }
    .card {
    background-color: var(--color-backdrop);
        color:var(--color-text);
        border-radius: 12px;
        padding: 14px 40px;
        margin:1%;
        width: 100%;
        min-width: 100%;
}
footer, .footer {
    background-color: transparent;
    background-image: url("$lib/images/starbackground.jpg");
    justify-content: center;
    align-content: center;
}

  /* disable chrome cancel button */
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
}

@media (width < 40rem){
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
       
        font-weight: bold;
    }
    h1 {
        font-size: var(--text-6xl);
    }
    h2 {
        font-size: var(--text-5xl);
    }
    h3 {
        font-size: var(--text-4xl);
    }
    h4{
        font-size: var(--text-3xl);
    }
   h5{
    font-size: var(--text-2xl);
   } 
   h5 {
    font-size: var(--text-1xl);
 
   }

}
@layer components {
    .basic-bitch-button {
        background-color: #77B602;

        
    }
}
/*Flowbite*/
@custom-variant dark (&:where(.dark, .dark *));
@theme {
    --color-primary-50: #fff5f2;
    --color-primary-100: #fff1ee;
    --color-primary-200: #ffe4de;
    --color-primary-300: #ffd5cc;
    --color-primary-400: #ffbcad;
    --color-primary-500: #fe795d;
    --color-primary-600: #ef562f;
    --color-primary-700: #eb4f27;
    --color-primary-800: #cc4522;
    --color-primary-900: #a5371b;
    
    --color-secondary-50: #f0f9ff;
  --color-secondary-100: #e0f2fe;
  --color-secondary-200: #bae6fd;
  --color-secondary-300: #7dd3fc;
  --color-secondary-400: #38bdf8;
  --color-secondary-500: #0ea5e9;
  --color-secondary-600: #0284c7;
  --color-secondary-700: #0369a1;
  --color-secondary-800: #075985;
  --color-secondary-900: #0c4a6e;
  }
  


@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";



:root {
    background-image: url ("starbackground.jpg")
}
*/